html
{
  margin:0;
  padding:0;
}

body
{
 font-family: lato;
 margin:0;
}

.body
{
  padding: 0 50px;
}

header
{
  top: 0;
  position: sticky;
  width:100%;
  background-color: #F4F5FC;
}

footer
{
  height: 40px;
  color:inherit;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #F4F5FC;
  color: white;
  text-align: center;
}

nav
{
  display: flex;
  flex-direction: row;
  background-color: #F4F5FC;
}

label
{
  font-size:10px;
  font-family: lato;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 22px;
  color: #737971;
}

a
{
  text-decoration: none;
  color:inherit;
}

nav a:hover
{
  color: #4a6747;
}

.nav-logo
{
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color:#4a6747;
  padding: 20px;
}

.nav-row
{
  display: flex;
  display-direction:row;
  justify-content: space-between;
  width:100%;
}

.nav-list
{
  display: flex;
  flex-direction: row;
}

.nav-link
{
  color:#8d9f85;
  font-size: 18px;
  padding: 20px;
}


.footer-signiture
{
  color:#4a6747;
  text-align: center;
  padding: 20px;
  font-size: 10px;
}

.btn
{
  color:white;
  border:none;
  padding: 5px 10px;
  border-radius: 8px;
  font-family: lato;
  width:fit-content;
  align-self: center;
}

.btn:hover
{
  opacity: 0.7;
  box-shadow:2px 1px 1px #3b4544;
}

.btn-sm
{
  font-size: 10px;
  padding: 5px 10px;
}

.btn-gd
{
  font-size: 15px;
  padding: 10px 20px;
  font-weight: bolder;
}

.btn-primary
{
  background-color: #4a6747;
}

.txt-primary
{
  color: #4a6747;
}

.outline-primary
{
  color: #4a6747;
  border: 2px solid;
  background-color: transparent;
}

.btn-secondary
{
  background-color: #8d9f85;
}

.txt-secondary
{
  color: #8d9f85;
}

.outline-secondary
{
  color:#8d9f85;
  border: 2px solid;
  background-color: transparent;
}

.btn-success
{
  background-color: #04ACA1;
}

.outline-success
{
  color:#04ACA1;
  border: 2px solid;
  background-color: transparent;
}

.txt-success
{
  color: #04ACA1;
}
.btn-warning
{
  background-color: #f2d46c;
  text-transform: uppercase;

}

.outline-warning
{
  color:#f2d46c;
  border: 2px solid;
  background-color: transparent;
  text-transform: uppercase;

}

.btn-danger
{
  background-color: #ce430c;
  text-transform: uppercase;
}

.txt-danger
{
  color: #ce430c;
}
.outline-danger
{
  color: #ce430c;
  border: 2px solid;
  background-color: transparent;
  text-transform: uppercase;

}

.btn-disabled
{
  color:#B1B6B1;
  background-color: #F4F5FC;

}

.outline-disabled
{
  color: #B1B6B1;
  border: 2px solid;
  background-color: transparent;
}

.btn-info
{
  color: #0C547C;
  background-color: #F4F5FC;
}

.outline-info
{
  color: #0C547C;
  border: 2px solid;
  background-color: transparent;
}

.btn-link
{
  color: #33A1B2;
  background-color: #F4F5FC;
}

.outline-link
{
  color: #33A1B2;
  border: 2px solid;
  background-color: transparent;
}

.color-demo
{
  width:120px;
  height:50px;
  border-radius: 10px 10px 0 0;
}
.label
{
  width:120px;
  height:50px;
  border-radius: 0 0 10px 10px ;
  background-color: #F4F5FC;
  text-align:center;
}

.txt-dark
{
  color:#3b4544;
}
.txt-medlight
{
  color:#737971;
}
.txt-light
{
  color:#d9d2de;
}


.horizontal-container
{
  display:flex;
  flex-direction:wrap;
  justify-content: space-around;
}

.horizontal-element
{
  display:inline-block;
}

h1
{
  font-size: 40px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  line-height: 50px;
  padding:0 50px;


}

h2
{
  font-size: 30px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  padding:0 50px;

}

h3
{
  font-size: 26px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  line-height: 20px;
  padding:0 50px;

}

h4
{
  font-size: 22px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 10px;
  padding:0 50px;

}

h5
{
  font-size: 19px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 5px;
  padding:0 50px;

}

h6
{
  font-size: 16px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 3px;
  padding:0 50px;

}

p
{
  font-size:14px;
  font-family: lato;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 22px;
  padding:0 50px;
}

.quote
{
  font-size:16px;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1px;
  color:#4a6747;
  padding:0 100px;

}

cite
{
  font-size:14px;
  font-family: lato;
  font-style: italic;
  padding:0 200px;

}

lead
{
  font-size:15px;
  font-family: lato;
  font-weight: bold;
  letter-spacing: 1px;
  padding:0 50px;
}

.list-group, .card-group
{
  border-radius: 10px;
  margin:0 50px;
  width:fit-content;
  font-family: lato;
  font-size: 14px;
  color:#4a6747;
}

.first-item
{
  border-radius: 10px 10px 0 0;
}

.last-item
{
  border-radius:  0 0 10px 10px;
}

.round-item
{
  border-radius:10px;
}

.card-group
{
  width: 18em;
}

.list-item, .card-item
{
  padding: 15px;
  background-color: #F4F5FC;
  text-align: justify;
}

.form-item
{
  padding: 15px;
  background-color: #F4F5FC;
}

.active-item
{
  color: white;
  background-color:#4a6747;
}

.disabled-item
{
  color: #B1B6B1;
  background-color:#F4F5FC;
}

.danger-item
{
  color: white;
  background-color:#ce430c;
}

.warning-item
{
  color: white;
  background-color:#f2d46c;
}

.success-item
{
  color: white;
  background-color:#04ACA1;
}



hr
{
  border-top: 2px solid #4a6747;
  box-shadow: 10px 2px 2px #F4F5FC;;
}

.badge-danger
{
  color:white;
  background-color: #ce430c;
  border-radius: 30px;
  align-self: right;
}

.form-group
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:0 50px;
}

.form-item
{
  background-color: #F4F5FC;
  color: #737971;
  font-size: 14px;
  font-family: lato;
  border-radius: 10px;
  border: 1px solid #737971;
}

.form-item:hover
{
  box-shadow:2px 1px 1px #3b4544;
  border-radius: 10px;

}


.card-title-image
{
  object-fit:fill;
  width: 100%;
  max-height: 100%;
}

.card-title
{
  padding: 10px;
  color:white;
}

.card-item
{
  padding: 10px;
  color:inherit;
}


.alert
{
  padding: 20px;
  color: white;
  opacity: 0.7;
  text-align: center;
}

.alert-danger
{
  background-color: #ce430c;
}

.alert-success
{
  background-color: #04ACA1;
}

.alert-warning
{
  background-color: #f2d46c;
}

.alert-link
{
  color:#33A1B2;
  background-color: transparent;
}

.alert-info
{
  color:#0C547C;
  background-color: transparent;
}
.closebtn {
  margin-left: 15px;
  color: inherit  ;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.flex-box
{
  display: flex;
}

.flex-wrap
{
  flex-direction: wrap
}

.flex-around
{
  justify-content: space-around;
}
