/*body
{
  background-image:url('bg.jpg');
  repeat:none;
}*/

.btn
{
  color:white;
  border:none;
  padding: 5px 10px;
  border-radius: 8px;
  font-family: lato;
  width:fit-content;
}

.btn:hover
{
  opacity: 0.7;
  box-shadow:2px 2px 2px #3b4544;
}
.btn-sm
{
  font-size: 10px;
  padding: 5px 10px;
}

.btn-gd
{
  font-size: 15px;
  padding: 10px 20px;
}

.btn-primary
{
  background-color: #4a6747;
}

.txt-primary
{
  color: #4a6747;
}
.outline-primary
{
  color: #4a6747;
  border: 2px solid;
  background-color: transparent;
}


.btn-secondary
{
  background-color: #8d9f85;
}

.txt-secondary
{
  color: #8d9f85;
}
.outline-secondary
{
  color:#8d9f85;
  border: 2px solid;
  background-color: transparent;
}

.btn-success
{
  background-color: #04ACA1;
}

.outline-success
{
  color:#04ACA1;
  border: 2px solid;
  background-color: transparent;
}

.btn-warning
{
  background-color: #f2d46c;
  text-transform: uppercase;

}

.outline-warning
{
  color:#f2d46c;
  border: 2px solid;
  background-color: transparent;
  text-transform: uppercase;

}

.btn-danger
{
  background-color: #ce430c;
  text-transform: uppercase;
}

.txt-danger
{
  color: #ce430c;
}
.outline-danger
{
  color: #ce430c;
  border: 2px solid;
  background-color: transparent;
  text-transform: uppercase;

}

.btn-disabled
{
  color:#B1B6B1;
  background-color: #F4F5FC;

}

.outline-disabled
{
  color: #B1B6B1;
  border: 2px solid;
  background-color: transparent;
}

.btn-info
{
  color: #0C547C;
  background-color: #F4F5FC;
}

.outline-info
{
  color: #0C547C;
  border: 2px solid;
  background-color: transparent;
}

.btn-link
{
  color: #33A1B2;
  background-color: #F4F5FC;
}

.outline-link
{
  color: #33A1B2;
  border: 2px solid;
  background-color: transparent;
}

.color-demo
{
  width:80px;
  height:50px;
  border-radius: 10px 10px 0 0;
}
.label
{
  width:80px;
  height:50px;
  border-radius: 0 0 10px 10px ;
  background-color: #F4F5FC;
  text-align:center;
}

.txt-dark
{
  color:#3b4544;
}
.txt-medlight
{
  color:#737971;
}
.txt-light
{
  color:#d9d2de;
}


.horizontal-container
{
  display:flex;
  flex-direction:wrap;
  justify-content: space-around;
}

.horizontal-element
{
  display:inline-block;
}

h1
{
  font-size: 40px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  line-height: 50px;
  padding:0 50px;


}

h2
{
  font-size: 30px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  padding:0 50px;

}

h3
{
  font-size: 26px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  line-height: 20px;
  padding:0 50px;

}

h4
{
  font-size: 22px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 10px;
  padding:0 50px;

}

h5
{
  font-size: 19px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 5px;
  padding:0 50px;

}

h6
{
  font-size: 16px;
  font-weight:bold;
  font-family: lato;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 3px;
  padding:0 50px;

}

p
{
  font-size:14px;
  font-family: lato;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 22px;
  padding:0 50px;
}

.quote
{
  font-size:16px;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1px;
  color:#4a6747;
  padding:0 100px;

}

cite
{
  font-size:14px;
  font-family: lato;
  font-style: italic;
  padding:0 200px;

}

lead
{
  font-size:15px;
  font-family: lato;
  font-weight: bold;
  letter-spacing: 1px;
  padding:0 50px;
}

ul,ol
{
  padding:0 50px;
  width: fit-content;
}

ul li
{
  list-style-type: none;
}

ul li::before
{
  color: black;
  content: "\2022";
  font-size: 1em;
  padding-right: 1.1225em;
  position: relative;
  top: 0em;
}

.no-bullet li::before
{
  color: transparent;
  content: "\2022";
  font-size: 1em;
  padding-right: 1.1225em;
  position: relative;
  top: 0em;
}

ol li::before
{
  color: black;
  content: counter(li);
  font-size: 1em;
  padding-right: 1.1225em;
  position: relative;
  top: 0em;
}

li
{
  font-size:14px;
  font-family: lato;
  letter-spacing: 1px;
  list-style-type: disc;
  vertical-align: center;
  background-color: #8d9f85;
  padding: 10px;
  color: white;
}

.active-item
{
  color: white;
  background-color:#4a6747;
}

.disabled-item
{
  color: #B1B6B1;
  background-color:#F4F5FC;
}

.danger-item
{
  color: white;
  background-color:#ce430c;
}

.warning-item
{
  color: white;
  background-color:#f2d46c;
}

.success-item
{
  color: white;
  background-color:#04ACA1;
}



hr
{
  border-top: 2px solid #4a6747;
  box-shadow: 10px 2px 2px #F4F5FC;;
}

.badge-danger
{
  color:white;
  background-color: #ce430c;
  border-radius: 30px;
  align-self: flex-end;
}
